<div class="mat-elevation-z8 mt-6 bg-slate-100 p-3">

  <table class="flex flex-col gap-5 text-lg">
    <thead>
      <tr class="flex gap-20">
        <th>Id</th>
        <th>Nome</th>
        <th>Fabricante</th>
        <th>Código</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody class="flex flex-col gap-3">
      <tr class="flex gap-20 border-b-2" *ngFor="let item of carList()">
        <td>{{item.id}}</td>
        <td>{{item.modelName}}</td>
        <td>{{item.manufacturer}}</td>
        <td>{{item.uniqueCode}}</td>
        <td class="flex gap-3">
          <button mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteCar(item.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>

  </table>
</div>



