<div class="mat-elevation-z8 mt-6 bg-slate-100 p-3">

  <table class="flex flex-col gap-5 text-lg">
    <thead>
      <tr class="flex gap-20">
        <th class="w-7">Id</th>
        <th class="w-40">Nome</th>
        <th class="w-40">Fabricante</th>
        <th class="w-40">Código</th>
        <th class="w-28 text-center">Ações</th>
      </tr>
    </thead>
    <tbody class="flex flex-col gap-3">
      <tr class="flex gap-20 border-b-2" *ngFor="let item of carList()">
        <td class="w-7 text-center">{{item.id}}</td>
        <td class="w-40 text-center">{{item.modelName}}</td>
        <td class="w-40 text-center">{{item.manufacturer}}</td>
        <td class="w-40 text-center">{{item.uniqueCode}}</td>
        <td class="flex gap-3 w-28 justify-center">
          <button mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="openDialog(item.id)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button (click)="carDetail(item.id)">
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>

  </table>
</div>



