<h2>Encontre seu carro!</h2>
<div class="flex justify-between items-center h-10">
  <button class="h-full" (click)="openDialog()" mat-flat-button>Cadastrar carro</button>
  <form class="h-full">
    <div class="h-full bg-white flex rounded-md">
      <input class="p-1 rounded-md" placeholder="Pesquisar">
      <button class="rounded-md p-1">
        <mat-icon fontIcon="search"></mat-icon>
      </button>
    </div>
  </form>
</div>
<app-car-table *ngIf="carList().length > 0; else message" [carList]="carList"></app-car-table>
<ng-template #message>
  <h2>O sistema não possui nenhum carro cadastrado</h2>
</ng-template>