<h2 mat-dialog-title > {{inputData.title}}</h2>
<div mat-dialog-content>
  <form [formGroup]="form" class="flex flex-col" (ngSubmit)="createCar()">
    <mat-form-field>
      <mat-label>Nome do carro</mat-label>
      <input matInput formControlName="modelName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Fabricante</mat-label>
      <input matInput formControlName="manufacturer">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Código</mat-label>
      <input matInput formControlName="uniqueCode">
    </mat-form-field>

    <mat-dialog-actions>
      <button
      mat-flat-button color="primary"
      type="submit"
      mat-dialog-close
      [disabled]="!form.valid"
      >Inserir
      </button>
      <button
      mat-flat-button
      color="warn"
      mat-dialog-close
      type="button"
      >Cancelar
      </button>
    </mat-dialog-actions>
  </form>
</div>
